{{~#*inline "head"}}
  {{> components/asset-css name="home"}}
{{/inline}}
{{~#*inline "body"}}
  <h1>PayPal 2FA</h1>
  <h2>Update 2019-04-19</h2>
  <p>PayPal has finally got with the times and now supports normal 2FA, no more tricks required! Check out <a href="https://benbrian.net/authenticator-app-support-in-paypal-finally/">https://benbrian.net/authenticator-app-support-in-paypal-finally/</a> for how to set it up. I highly recommend doing it that way instead of my old way here. I can confirm it even works with the mobile apps.</p>
  <h2>Original Page (avoid!)</h2>
  <p>This is just a hosted version of the open source <a href="https://github.com/dlenski/python-vipaccess">vipaccess</a> tool, since it can be a pain to set up.</p>
  <p>Since this is all about security, you should run it yourself if you don't trust me, but I promise I'm not storing anything. You can check out my code <a href="https://github.com/DuBistKomisch/jakebarnes/tree/master/src/main.rs">here</a>.</p>
  <p>Check out <a href="https://medium.com/@dubistkomisch/set-up-2fa-two-factor-authentication-for-paypal-with-google-authenticator-or-other-totp-client-60fee63bfa4f">my guide</a> on setting up PayPal with 2FA if you have no idea what's going on here.</p>
  <h3>Generate</h3>
  <p>You can enter anything here, it's just what gets displayed in your TOTP app. I'd recommend using your paypal email address and "PayPal".</p>
  <form action="/paypal" method="post">
    <p>
      <label for="identity">Identity</label>
      <input type="text" name="identity" value="{{#if identity}}{{identity}}{{else}}johnsmith@example.com{{/if}}" />
    </p>
    <p>
      <label for="issuer">Issuer</label>
      <input type="text" name="issuer" value="{{#if issuer}}{{issuer}}{{else}}PayPal{{/if}}" />
    </p>
    <p>
      <input type="submit" value="Generate" />
    </p>
  </form>
  {{#if serial}}
    <h2>Result</h2>
    <p>Serial Number: {{serial}}</p>
    <p>Import URL: <a href="{{url}}">{{url}}</a></p>
    <p>QR Code: <img src="data:image/png;base64,{{qr_code}}" alt="{{url}}" /></p>
    <p>Secret (for manual import): {{secret}}</p>
  {{/if}}
{{/inline}}
{{~> layouts/default title="PayPal 2FA"}}
